/*

  Variables
  +

*/

// Colours

$color-primary: white;
$color-white: white;
$color-black: #161615;
$color-green-light: #2CE578;
$color-purple-bright: #FF19A9;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


// Base
$line-height-big: 2.8rem;
$line-height-normal: 2.4rem;
$max-width-big: 90rem;
$default-font-size: 1.6rem;

$base-line-height: 1.7;

//box-shadows
$box-shadow-black: 0 1rem 2rem rgba($color-black,.2);
$box-shadow-green: 5px 5px 5px 5px rgba($color-green-light,.1);
