/*

  Main
  +

*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400&display=swap');

//font-family: 'Roboto', sans-serif;
//font-family: 'Playfair Display', serif;

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
